@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Onest:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: "#48485E";
}
